body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    margin: 0;
    background: url('../img/bg1.jpg');
    background-size: 2880px 1800px;
    background-repeat:no-repeat;
    display: compact;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1 {
    text-align: center;
}

.h2, h2 {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    color: #fff;
    padding: 2px;
}

.form-signin {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom:10px;
}

#confirm {
    display:none;
}

label {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1em;
    color: #000;
    padding: 10px;
}

#startRecording {
    margin-top: 20px;
}

#tweetSubmit {
    margin-top:20px;
}

.recording {
    background-color: red;
    color: #fff;
}

#rkeystrokes {
    background-color: #fff;
    font-family: 'Anonymous Pro';
    font-size: 24px;
    padding: 20px;
    width: 100%;
    height: 100px;
    overflow: auto;
    margin-top: 20px;
}