    body {
        margin: 0;
        background: url('../img/bg1.jpg');
        background-size: 2880px 1800px;
        background-repeat:no-repeat;
        display: compact;}
    .h2, h2 {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        color: #fff;
        padding: 2px;}
    .form-signin {max-width:360px;}
    .form-signin .form-control {margin-bottom:10px;}
    #confirm {
    	display:none;
    }
    label {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1em;
        color: #000;
        padding: 10px;
    }
    .recording {
        background-color: red;
        color: #fff;
    }
    #rkeystrokes {
        background-color: #fff;
        font-family: 'Anonymous Pro';
        font-size: 24px;
        padding: 20px;
        width: 100%;
        height: 100px;
        overflow: auto;
    }